* {
  h1,
  h2,
  h3 {
    color: #172b4d;
  }
}

body {
  background-color: #e5e5e5;
}

$spacer: 100rem !default;

.container-xl {
  ul {
    list-style: none;
  }
}

.welcome {
  background-repeat: no-repeat;
  background-image: url("media/Header-llustration-desktop.svg");

  .nav {
    background-color: transparent;
    padding-top: 26px;
  }

  .nav-link {
    color: #344563;
  }

  h1 {
    margin-top: 186px;
    font-size: 48px;
  }

  p:first-of-type {
    color: #36b37f;
    font-size: 48px;
  }

  p:last-of-type {
    color: #172b4d;
    font-size: 20px;
  }

  svg {
    fill: #505f79;
  }

  ul {
    margin-bottom: 101px;
  }

  .margin-bottom {
    margin-bottom: 495px;
  }
}

.works {
  h2 {
    font-size: 40px;
  }

  .project {
    width: 30vw;
  }
}
